.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: repeat(4, 100px);
	background-color: #2196F3;
	width: auto;
	padding: 10px;
	border: 1px solid black;

}

.grid-cell {
	width: 100px;
	height: 100px;
	background-color: #f1f1f1;
	text-align: center;
	padding: 20px;
	border: 1px solid black;
}